@model NotesViewModel

@{
    ViewBag.Title = "My Notes";
    Layout = "_Layout";
}

<h2> My Notes</h2>
<ul>
    @foreach (var note in Model.Notes) {
        <li>@note.Content</li>
    }
</ul>